* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #58af9b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
}

header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

button {
  background-color: white;
  color: #58af9b;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #e0e0e0;
}

main {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 100%;
  transition: all 0.3s ease;
}

/* --- BARRA LATERAL --- */
.agenda-aside {
  width: 28%;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
  overflow-y: auto;
  transition: all 0.3s ease;
}

main.no-selection .agenda-aside {
  display: none;
}

main.no-selection .calendar-section {
  width: 100%;
}

/* --- CONTEÚDO DO ASIDE --- */
aside h2 {
  margin-bottom: 10px;
  color: #58af9b;
}

.agenda-item {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

/* --- CALENDÁRIO --- */
.calendar-section {
  flex: 1;
  padding: 20px;
  transition: 0.3s;
}

.month-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.month-title {
  font-size: 1.4rem;
  color: #58af9b;
}

/* Linha dos dias da semana */
.dias-semana {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  background: #58af9b;
  border-radius: 8px;
  margin-bottom: 10px;
}

.dias-semana div {
  padding: 5px 0;
  color: white;
}

/* Grid do calendário */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.day {
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: start;
  align-items: start;
  height: 80px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s;
  padding: 5px;
}

.day:hover {
  background-color: #dfe8ff;
}

.day.selected {
  background-color: #58af9b;
  color: white;
  font-weight: bold;
}
